.target-item {
  text-align: left;
  border: 1px solid #000000;
  border-top: none;
  cursor: pointer;
  padding: 5px;

  &:hover {
    background-color: lightblue;
  }

  &__container {
    margin: 10px;
    width: 47%;
  }

  &__title {
    cursor: pointer;
    -webkit-user-select: none;
    padding: 5px;
    margin: 0;
    border: 2px solid blue;

    &:hover {
      background-color: lightpink;
    }
  }

  &__name {
    font-weight: 700;
  }

  p {
    margin: 5px;
    font-size: .9em;
  }
}

@media (max-width: 1400px) {
  .target-item {
    &__container {
      width: 100%;
    }
  }
}