.target-item {
  text-align: left;
  margin: 20px;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: lightblue;
  }

  &__title {
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    border: 1px solid green;
    padding: 5px;
    margin: 0;
    border-radius: 3px;

    &:hover {
      background-color: lightpink;
    }
  }

  &__name {
    font-weight: 700;
  }
}