.dropdown-header {
  text-align: center;
  user-select: none;

  &__title {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(216, 187, 125);
    cursor: pointer;
    width: 500px;
    border-bottom: 2px solid rgb(216, 187, 125);

    &:hover {
      color: lighten(rgb(216, 187, 125), 10%);
    }
  }
}

@media (max-width: 800px) {
  .dropdown-header {
    font-size: 12px;
  }
}