.map-container {
  overflow: hidden;
  text-align: center;

  &__title {
    color: rgb(216, 187, 125);
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  .dropdown-item {
    font-size: 24px;
  }

  .map-container__title {
    font-size: 20px;
  }
}