@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

.homepage {

  &__container {
    margin: 0 auto;
    padding-top: 20px;
    font-family: 'Fondamento', sans-serif;
    color: #9F2637;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__dropdown-section {
    display: flex;
    justify-content: center;
  
    &-text {
      display: inline-block;
    }
  }

  &__logo {
    width: 400px;
    animation: loading 60s linear infinite;
    animation-delay: 5s;
    
    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      5% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__map-section {
    width: 700px;
  }

  &__no-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  &__rank-section {
    width: 900px;
  }
}

@media (max-width: 800px) {
  .homepage {
    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__map-section {
      width: 100%;
      height: auto;
    }

    &__rank-section {
      width: 100%;
    }
  }
}