@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1600px;
}

.row {
  display: flex;
  justify-content: center;
}

.map-section {
  width: 700px;
  border: 1px solid red;
}

.rank-section {
  width: 900px;
  border: 1px solid green;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .map-section {
    width: 100%;
    height: auto;
  }

  .rank-section {
    width: 100%;
  }
}