.rank-item {
  &__title {
    border: 2px solid purple;
    cursor: pointer;
    -webkit-user-select: none;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}

.is-nav-open {
  transform: rotate(90deg);
}