.rank-item {
  margin-bottom: 10px;

  &__title {
    display: block;
    border: 2px solid green;
    cursor: pointer;
    -webkit-user-select: none;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.is-nav-open {
  transform: rotate(90deg);
}