.rank-container {
  padding: 0px 10px 10px 10px;
  text-align: center;
  max-height: 85vh;
  overflow-y: auto;
  font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9F2637;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#9F2637, 10%);
}